# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Angular build output
# =========================
dist/
.angular/
.tmp/
out-tsc/

# =========================
# Cache
# =========================
.cache/
.vite/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Testing
# =========================
coverage/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.tgz